- content_for(:sidebar) do |s|
  = render "layouts/repositories", user: current_user

.panel.panel-default
  .panel-heading
    %h1 Notes
  .panel-body
    = link_to 'New Note', new_note_path, class: "btn btn-success"
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Note
        %th Project Name
        %th
    %tbody
      - @notes.each do |note|
        %tr
          %td= note.text
          %td= note.project_name
          %td
            = link_to 'Show', note, class: "btn btn-default"
            = link_to 'Edit', edit_note_path(note), class: "btn btn-success"
            = link_to 'Delete', note, class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
